/*base*/
.l-base__wrapper {
  min-height: 100vh;
  /* Safari */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Safari 6.1+ */
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-base__wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@-ms-viewport {
  max-width: 100% !important;
  width: auto !important;
}

html {
  font-size: 16px;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  /* Safari */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Safari 6.1+ */
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

* {
  outline: none;
  font-family: sans-serif !important;
  font-style: normal;
  font-weight: normal;
  color: #000;
}

body.no-overflow {
  overflow: hidden;
  width: 100%;
}

.dd-non-style-list ul,
.dd-non-style-list li {
  list-style: none;
}

.dd-inline-list li {
  display: inline-block;
}

.dd-tcenter {
  text-align: center;
}

.dd-fleft {
  float: left;
}

.dd-fright {
  float: right;
}

.close {
  cursor: pointer;
}

.loading-box {
  margin-bottom: 20px;
  border-radius: 10px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1199px) {
  .swiper-container {
    overflow: inherit;
  }
}

*,
body,
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.load-ajax-sec .content-container {
  display: none;
}

.load-ajax-sec.is-loaded .loading-container {
  display: none;
}

.load-ajax-sec.is-loaded .content-container {
  display: block;
}

.load-ajax-sec.is-loading--force .loading-container {
  display: block;
}

.load-ajax-sec.is-loading--force .content-container {
  display: none;
}

.b-global-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child):after {
  content: '';
  display: none;
  margin: 0 4px;
  width: 48px;
  height: 1px;
  background-color: #000;
  vertical-align: middle;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active:not(:last-child):after {
  display: inline-block;
}

@media screen and (max-width: 960px) {
  .hidden-xs {
    display: none !important;
  }
}

/*nav*/
.l-header {
  width: 100%;
  padding: 15px 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  overflow: hidden;
  background: #fff;
}

@media screen and (min-width: 960px) {
  .l-header {
    background: none;
  }
}

@media screen and (min-width: 700px) {
  .l-header {
    max-width: 130px;
    padding: 20px 0 0 30px;
  }
}

@media screen and (max-width: 699px) {
  .l-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.l-header__logo {
  display: block;
  width: 100%;
  max-width: 50px;
  margin: 0 20px 0 0;
}

@media screen and (min-width: 960px) {
  .l-header__logo {
    max-width: 70px;
  }
}

@media screen and (min-width: 700px) {
  .l-header__logo {
    margin: 0 0 120px;
  }
}

.l-header__menu {
  display: none;
}

@media screen and (min-width: 700px) {
  .l-header__menu {
    display: block !important;
  }
}

@media screen and (min-width: 700px) {
  .l-header__menu-mobile {
    display: none !important;
  }
}

.l-header__menu-mobile__btn {
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.l-header__menu-mobile__btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.l-header__menu-mobile__btn span:nth-child(1) {
  top: 0px;
}

.l-header__menu-mobile__btn span:nth-child(2),
.l-header__menu-mobile__btn span:nth-child(3) {
  top: 10px;
}

.l-header__menu-mobile__btn span:nth-child(4) {
  top: 20px;
}

.l-header__menu-mobile__btn.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.l-header__menu-mobile__btn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.l-header__menu-mobile__btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.l-header__menu-mobile__btn.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/*menu*/
.l-menu--main .menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.l-menu--main .menu .menu-item {
  width: 100%;
}

.l-menu--main .menu .menu-item a {
  color: #000;
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  padding: 0 2px;
  display: block;
  border-top: 1px solid #000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.l-menu--main .menu .menu-item a:hover {
  font-weight: bold;
}

.l-menu--main .menu .menu-item a::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.l-menu--main .menu .menu-item:last-child a {
  border-bottom: 1px solid #000;
}

.l-menu--footer {
  margin-bottom: 65px;
}

.l-menu--footer .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 960px) {
  .l-menu--footer .menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.l-menu--footer .menu .menu-item a {
  display: inline-block;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.l-menu--footer .menu .menu-item a:hover {
  font-weight: bold;
}

.l-menu--footer .menu .menu-item a::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.l-menu--footer .menu .menu-item:not(:last-child) a {
  margin: 0 0 15px 0;
}

@media screen and (min-width: 960px) {
  .l-menu--footer .menu .menu-item:not(:last-child) a {
    margin: 0 10px 0 0;
  }
}

.l-menu--mobile {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  padding: 105px 20px 20px;
  background-color: #fff;
  height: 100vh;
  display: block;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.l-menu--mobile.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 700px) {
  .l-menu--mobile {
    display: none !important;
  }
}

.l-menu--mobile .menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.l-menu--mobile .menu-item {
  width: 100%;
}

.l-menu--mobile .menu-item a {
  display: block;
  border-top: 1px solid #000;
  width: 100%;
  padding: 15px 0 25px;
  font-size: 36px;
  line-height: 40px;
  text-decoration: none;
}

/*intro*/
.m-page-intro {
  margin-bottom: 20px;
}

@media screen and (min-width: 700px) {
  .m-page-intro {
    margin-bottom: 106px;
  }
}

.m-page-intro__wrapper {
  margin: 100px 0 20px 0;
  padding: 0 0;
}

@media screen and (min-width: 960px) {
  .m-page-intro__wrapper {
    margin: 120px 0 20px 0;
  }
}

@media screen and (min-width: 700px) {
  .m-page-intro__wrapper {
    margin: 120px 30px 0 0;
    padding: 0 0 0 180px;
  }
}

@media screen and (min-width: 1200px) {
  .m-page-intro__wrapper {
    padding: 0 0 0 294px;
  }
}

.m-page-intro__container {
  width: 100%;
  max-width: 864px;
}

.m-page-intro__title {
  display: inline-block;
  width: 800px;
  max-width: 100%;
  height: 200px;
}

@media screen and (min-width: 960px) {
  .m-page-intro__title {
    margin: 0 0 30px;
    height: 400px;
  }
}

@media screen and (min-width: 700px) {
  .m-page-intro__title {
    margin-left: -100px;
    height: 500px;
  }
}

.m-page-intro__subtitle {
  display: none;
  font-size: 24px;
  line-height: 120%;
}

@media screen and (min-width: 960px) {
  .m-page-intro__subtitle {
    display: block;
    margin-left: -20px;
  }
}
/*# sourceMappingURL=sd.css.map */