* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: Akkurat, sans-serif !important;
  font-style: normal;
  font-weight: 400;
  color: #000;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.header {
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
}

.header .logo {
  position: fixed;
  top: 30px;
  z-index: 100;
  cursor: pointer;
}

.header .logo img {
  width: 200px;
  height: auto;
}

.header .header-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
}

.header .content {
  position: relative;
  max-width: 650px;
  z-index: 1;
  color: #fff;
}

.header .content span {
  color: #b10606;
}

.header .content h2 {
  color: #094488;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.1em;
}

.header .content p {
  color: #094488;
  font-size: 24px;
  line-height: 28px;
  margin: 20px 0 10px;
}

.header .content a {
  color: #fff;
  background: #094488;
  text-decoration: none;
  font-size: 1em;
  margin: 20px 0;
  font-weight: 500;
  padding: 10px 30px;
  display: inline-block;
  transition: .5s ease-in-out;
}

.header .content a:hover {
  letter-spacing: .2rem;
}

.menuToggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  color: #094488;
  background: transparent;
  cursor: pointer;
  z-index: 1000;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburguer {
  position: relative;
  display: block;
  background: #094488;
  width: 30px;
  height: 4px;
  transition: .5s ease-in-out;
}

.hamburguer::before,
.hamburguer::after {
  background: #094488;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: .5s ease-in-out;
}

.hamburguer::before {
  top: -10px;
}

.hamburguer::after {
  bottom: -10px;
}

.menuToggle.active .hamburguer {
  transform: rotate(45deg);
}

.menuToggle.active .hamburguer::before {
  transform: rotate(90deg);
  top: 0;
}

.menuToggle.active .hamburguer::after {
  transform: rotate(90deg);
  bottom: 0;
}

.menuToggle.active {
  background: #6d6d65;
}

.nav {
  position: fixed;
  top: 0;
  left: calc(100% - 60px);
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(0px);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .8s ease-in-out;
}

.nav.active {
  left: 0px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.nav ul {
  position: relative;
}

.nav ul li {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.nav ul li a {
  font-size: 2em;
  color: #30252b;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 10px 0;
}

.nav ul li a:hover {
  color: #d8763d;
}

.social-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-menu ul {
  position: relative;
}

.social-menu ul li {
  position: relative;
}

.social-menu ul li a {
  position: relative;
  display: inline-block;
  transform: scale(0.6);
}

/**/
.containers {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.modal {
  width: auto;
  margin: 0 auto;
}

.modal-content {
  margin: 0 20px 60px 0;
}

.mySlides img {
  height: 260px;
  object-fit: cover;
  width: 100%;
}

.nextPrevious {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.pagination-container {
  position: relative;
  margin: 0 10px 0 0;
  display: flex;
  align-items: center;
}

.pagination {
  background: 0 0;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0 4px;
  font-size: 14px;
  opacity: 1;
  cursor: pointer;
}

span.pagination::after {
  content: '';
  display: none;
  margin: 0 4px;
  width: 48px;
  height: 1px;
  background-color: #000;
  vertical-align: middle;
}

span.pagination.active {
  font-weight: 700;
  color: #094488;
}

span.pagination.active::after {
  display: inline-block;
  background-color: #094488;
}

a.prev {
  padding-right: 40px;
  cursor: pointer;
}

a.next {
  cursor: pointer;
}

.next,
.prev {
  font-weight: bold;
  font-size: 14px;
  transition: 0.6s ease;
}


@media(min-width: 700px) {
  .mySlides img {
    height: 350px;
  }
}

@media screen and (min-width: 960px) {
  .mySlides img {
    height: 575px;
  }
}

/*about*/
.about {
  margin: 40px 0 80px;
}

.about-container,
.project-container {
  padding: 0 20px;
  max-width: 1065px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.about-image {
  max-width: 410px;
  min-width: 200px;
}

.about-content {
  flex: 1;
}

.about-title {
  margin: 40px 0 32px;
  font-size: 36px;
  line-height: 124%;
}

.about-text {
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 150%;
}

.about-link {
  font-size: 24px;
  transition: all .2s linear;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid #000;
}

.about-link::before {
  display: block;
  content: attr(title);
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.about-link:hover {
  letter-spacing: .2rem;
  border-color: #094488;
  color: #094488;
}

.about-team {
  object-fit: cover;
  height: 355px;
  width: 100%;
}

.about-page-content {
  font-size: 24px;
  line-height: 28px;
  max-width: 1114px;
  margin: 0 auto;
  padding: 20px;
}

.about-page-content p {
  margin: 0 0 30px;
}

.about-another-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1114px;
  margin: 0 auto;
  padding: 20px;
}

.page-about-title {
  font-size: 36px;
  line-height: 43px;
  max-width: 350px;
  margin-bottom: 36px;
}

.page-about-text {
  font-size: 18px;
  line-height: 27px;
  flex: 1;
  max-width: 504px;
}

.page-about-text {
  margin: 0 0 40px;
}

/*project*/
.project {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f5f4f0;
}

.project-title {
  font-size: 24px;
  margin: 0 0 48px;
}

.project-img {
  flex: 1;
  object-fit: cover;
  margin-bottom: 30px;
}

.project-content {
  width: 100%;
  max-width: 70%;
}

.project-content {
  font-size: 24px;
  border-top: 1px solid #000;
  padding-top: 20px;
  margin-bottom: 32px;
}

.project-content .pr {
  margin: 0;
}

.project-text {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 24px;
}

.pp {
  margin-bottom: 104px;
}

.projectMore {
  text-align: center;
}

/*team*/
.team {
  background-color: #f5f4f0;
  padding: 48px 0 110px;
}

.team-container {
  max-width: 1044px;
  padding: 0 20px;
}

.team__title {
  display: block;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 32px;
}

.team-list,
.galery-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.team-list>div,
.galery-list>div {
  width: 100%;
  margin-bottom: 34px;
}

.card-team {
  width: 100%;
}

.card-team-title {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  max-width: 210px;
  margin-bottom: 10px;
}

.card-team-img {
  margin-bottom: 20px;
}

.card-team-img img {
  /* max-width: 375px;
  max-height: 375px; */
  width: 100%;
  object-fit: cover;
}

.card-project-img img {
  width: 100%;
  min-height: 330px;
  object-fit: cover;
}

.card-team__name {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 5px;
}

.card-team__prof {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;
}

.card-team__socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.card-team__socials a {
  transition: all .2s linear;
}

.card-team__socials a::before {
  display: block;
  content: attr(title);
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.card-team__socials .separator {
  margin: 0 5px;
}

.more__title {
  font-size: 36px;
  line-height: 43px;
  margin: 0 0 40px;
  padding-top: 100px;
}

/*project*/
.card-project__title {
  font-size: 14px;
  line-height: 21px;
  padding: 20px 0;
  text-transform: uppercase;
}

.card-project-item__content {
  font-size: 24px;
  line-height: 28px;
  overflow: hidden;
  width: 100%;
  height: 0;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all .4s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.card-project-item__footer {
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-project-item__footer .separator {
  display: inline-block;
  flex: 1;
  margin: 0 10px;
  height: 1px;
  background-color: #000;
}

.card-project-item__link {
  width: 100%;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.card-project-item__link:hover .card-project-item__content {
  height: 310px;
}

/*contact*/
.contact-container {
  padding: 0 20px;
  max-width: 1110px;
}

.contact-content{
  display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.contact__form{
  width: 100%;
    margin-bottom: 57px;
}

button, input, select,textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

.contact__form-input{
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid #000;
  padding-bottom: 12px;
  margin-bottom: 35px;
}

.contact__form-input textarea{
  min-height: 140px;
}

.contact__form-submit{
  font-size: 24px;
    line-height: 28px;
    padding-bottom: 4px;
    border-bottom: 1px solid #000;
    transition: all .2s linear;
    cursor: pointer;
}

.contact_local{
  width: 100%;
}

.contact_local p{
  font-size: 18px;
    line-height: 27px;
    margin: 0 0 30px;
}

.login_box small {
  color: #e74c3c;
  /* position: absolute;
  bottom: 0;
  left: 0; */
  visibility: hidden;
  /* padding-left: 4px; */
}

.login_box.error small {
  visibility: visible;
}

.login_box.success .contact__form-input{
  border-bottom-color: #2ecc71;
}

.login_box.error .contact__form-input{
  border-bottom-color: #e74c3c;
}

/*footer*/
.footer-content {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-content ul {
  display: flex;
  flex-wrap: wrap;
}

.footer-content ul li {
  margin-left: 20px;
}

.footer-content ul li a {
  color: #094488;
}

.footer-content ul li a:hover {
  color: #b10606;
}

.footer-content span {
  color: #094488;
}

.footer-content span a {
  color: #094488;
}

.copy {
  text-align: center;
  padding-bottom: 30px;
}

footer span a {
  color: #094488;
}

/*media*/
@media(min-width: 1086px) {
  .nav {
    position: fixed;
    top: 200px;
    left: 0;
    width: 13%;
    height: auto;
    flex-direction: row;
    z-index: 9;
    justify-content: space-between;
    background: transparent;
    backdrop-filter: blur(0px);
  }

  .logo {
    z-index: 100;
  }

  .menuToggle {
    display: none;
  }

  .header .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 999;
  }

  .social-menu {
    display: none;
  }

  .nav ul {
    display: flex;
    gap: clamp(1rem, 1vw, 2rem);
    padding-block: 2rem;
    padding-inline: clamp(2rem, 8vw, 1rem);
    flex-direction: column;
    backdrop-filter: blur(10px);
    transition: .8s ease-in-out;
  }

  .nav ul li a {
    font-size: 1rem;
    color: #094488;
    transition: .4s ease-in-out;
  }

  .nav ul li a:hover {
    letter-spacing: .2rem;
    color: #b10606;
  }

  .nav ul li {
    position: relative;
    text-align: left;
    margin-bottom: 0px;
  }

  .header-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

  .nextPrevious {
    padding-top: 20px;
    padding-left: 140px;
    padding-right: 40px;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {

  .header {
    padding: 100px 40px;
  }

  .header .content h2 {
    font-size: 2.5em;
  }

  .header .header-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

  .header .logo {
    top: 10px;
    width: 140px;
  }

  .header .logo img {
    width: 100%;
  }

  .nav ul li a {
    font-size: 2em;
  }

}

@media screen and (max-width: 683px) {
  .nav {
    left: 100%;
  }

  .menuToggle {
    position: fixed;
    background: transparent;
  }

  .header {
    padding: 100px 20px;
  }
}

@media screen and (min-width: 550px) {
  .galery-list>div {
    width: 50%;
    padding: 10px;
  }
}

@media(min-width: 700px) {
  .flex {
    flex-direction: row;
    align-items: flex-end;
  }

  .about-content {
    margin-left: 112px;
    min-width: 50%;
  }

  .about-title {
    font-size: 48px;
    margin: 0 0 44px;
  }

  .about-text {
    margin-bottom: 44px;
  }

  .about-page-content {
    padding-left: 88px;
  }

  .project-img {
    margin-bottom: 0;
  }

  .project-content {
    max-width: 234px;
    margin: 0 0 0 30px;
    margin-bottom: 8px;
  }

  .pr {
    margin: 0 30px 0 0;
  }

  .about-team {
    height: 575px;
  }

  .about-another-content {
    padding: 0 20px 0 88px;
  }

  .page-about-title {
    font-size: 48px;
    line-height: 57px;
  }

  .team {
    padding: 136px 0 160px;
  }

  .team-list>div,
  .galery-list>div {
    padding: 0 10px;
    width: 33.3333%;
    margin-bottom: 40px;
  }

  .card-team-img img {
    height: auto;
  }

  .card-project-img img {
    height: 470px;
  }

  .more__title {
    font-size: 48px;
    line-height: 57px;
    margin: 0 0 80px;
  }

  .footer-content {
    padding: 20px 100px;
  }

}

@media screen and (min-width: 850px) {
  .card-team-img img {
    height: auto;
  }
}

@media screen and (min-width: 960px) {
  .about-cont {
    max-width: 500px;
  }

  .modal-content {
    margin: 0 120px 100px 32px;
  }

  .about-page-content {
    font-size: 40px;
    line-height: 48px;
  }

  .about-page-content p {
    margin: 0 0 60px;
  }

  .about-another-content {
    padding-left: 88px;
    flex-direction: row;
    margin: 0 auto 64px;
  }

  .page-about-title {
    margin-bottom: 0;
  }

  .team {
    padding: 136px 0 0;
  }

  .contact-content{
    padding-left: 290px;
  }
}

@media screen and (min-width: 1200px){
.contact-content{
    padding-left: 100px;
}

.contact__form{
  width: 70%;
  padding-right: 112px;
  margin-bottom: 0;
}

.contact_local{
  border-top: 1px solid #000;
  margin-top: 30px;
  width: 30%;
}
}